{% extends 'base.html' %}
{% block head %}
    <title>IgorSales</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}
{% block main %}
<div class="prof">
				<div class="item-controls">
                    <form method="post">
	                       
	                    <p><span>Всего: {{ i }}</span></p>
			            <button type="submit" class="btn3_pay" >оплатить</button>
		                </form>
                    </div>

				</div>
{% endblock %}