{% extends 'base.html' %}

{% block head %}
    <title>IgorSales</title>
    <link rel="stylesheet" href="/static/admin.css">
{% endblock %}

{% block main %}
    <a class="dell" href="{{ url_for('del-product') }}">перерйти на удаление</a>
    <div class="main">
        
        <h1>Добавить товар</h1>

        {% for alert in get_flashed_messages() %}
        <div class="alert" style="background-color: {{ alert[1] }}">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
          {{ alert[0] }}
        </div>
        {% endfor %}

        <div class="form">
            <form action="/admin/add-project" method="post" enctype="multipart/form-data">
                <input type="text" name="name" placeholder="Название товара">
                <textarea type="text" cols="40" rows="5" name="description" placeholder="Описание товара"></textarea>
                <input type="text" name="price" placeholder="Цена">
                <input type="text" name="color" placeholder="Цвет">
                <input type="file" name="photo">
                <button type="submit">Загрузить</button>
                
            </form>
        </div>
    </div>

{% endblock %}